<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BehsaClinic-Patient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>984013CD1E4F05E500AE3AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986649D21E53185D007701F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>986649E01E535164007701F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
